/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #e0e0e0;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #e0e0e0 ;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
}

.parallax-container img
{
  max-width: 100%; 
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.exec-members img { 
  max-width: 120px; 
  float: left;
  padding-right: 15px; 
}

.header-parent { 
  position: relative;
  background-color: #673ab7; 
  color: white; 
  /*height: 95vh; */
}

.header-card { 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
/*  width: 50%;*/
  height: 35%;
  margin: auto; 
}

#particles-js { 
  height: 92.5vh;
}

.club-name { 
  background-color: #7e57c2; 
}

a { 
  color: #673ab7;
}

.about-special { 
  font-weight: bolder; 
}

.logo { 
  max-width: 500px; 
}